<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Resource with hardcoded path -->
    <bean id="questionsResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="questions.csv"/>
    </bean>

    <bean id="questionReaderService" class="org.example.service.QuestionReaderService">
        <constructor-arg ref="questionsResource"/>
    </bean>

    <bean id="questionDisplayService" class="org.example.service.QuestionDisplayService">
        <constructor-arg ref="questionReaderService"/>
        <constructor-arg value="#{T(java.lang.System).out}"/>
    </bean>

</beans>